# Statistical Analysis and Data Visualization

In [44]:
#Importing the neccessary packages
import pandas as pd
import numpy as np

In [45]:
#Reading the population by county data
county_pop=pd.read_csv("Population_by_Age_and_Sex_-_Counties.csv")

In [48]:
#Renaming the county population column
county_pop=county_pop.rename(columns={"B01001_001E": "County_Population"})

In [51]:
county_pop.head(2)

,OBJECTID,GEO_ID,GEO_NAME,GEO_PARENT_NAME,County_Population,STABREV,B01001_002E,B01001_002M,B01001_003E,B01001_003M,...,DP05_0025E,DP05_0025M,DP05_0029E,DP05_0029M,DP05_0030E,DP05_0030M,DP05_0031E,DP05_0031M,POPDEPE_CALC,POPDEPM_CALC
0,1,0500000US01001,"Autauga County, AL",Alabama,55200,AL,26874,147.0,1789,141.0,...,41831,32.0,8050,75.0,3488,30.0,4562,65.0,21419.0,82.0
1,2,0500000US01003,"Baldwin County, AL",Alabama,208107,AL,101188,242.0,5855,84.0,...,162430,NaN,40665,69.0,18870,40.0,21795,56.0,86342.0,NaN

In [50]:
#Adding a new column for joining with the other table
county_pop["GEO_NAME"]=county_pop["GEO_NAME"]+', '+county_pop["STABREV"]

In [53]:
#Subsetting county name and county population from the data
County_subset=county_pop[['GEO_NAME','County_Population']]

In [54]:
County_subset.head(1)

             GEO_NAME  County_Population
0  Autauga County, AL              55200

In [55]:
#County_subset.to_csv("county_subset.csv")

In [56]:
#Reading the race and ethnicity by county data
county_eth=pd.read_csv("Race_and_Ethnicity_-_County.csv")

In [57]:
county_eth.columns

Index(['OBJECTID', 'GEO_ID', 'GEO_NAME', 'GEO_PARENT_NAME', 'STABREV',
       'FIPS_CODE', 'B02001_002E', 'B02001_002M', 'B02001_003E', 'B02001_003M',
       'B02001_004E', 'B02001_004M', 'B02001_005E', 'B02001_005M',
       'B02001_006E', 'B02001_006M', 'B02001_007E', 'B02001_007M',
       'B02001_008E', 'B02001_008M', 'B03001_002E', 'B03001_002M',
       'B03001_003E', 'B03001_003M'],
      dtype='object')

In [58]:
#Dropping unwanted columns
county_eth=county_eth.drop(['OBJECTID','GEO_ID','FIPS_CODE','B02001_002M','B02001_003M','B02001_004M','B02001_005M','B02001_006M','B02001_007M','B02001_008M','B03001_002M','B03001_003M'],axis=1)

In [59]:
#Renaming the relevant columns
county_eth=county_eth.rename(columns={"B02001_002E": "White alone_Total", "B02001_003E": "Black or African American alone_Total","B02001_004E": "American Indian and Alaska Native alone_Total","B02001_005E": "Asian alone_Total","B02001_006E": "Native Hawaiian and Other Pacific Islander alone_Total"})

In [62]:
county_eth.head(2)

,GEO_NAME,GEO_PARENT_NAME,STABREV,White alone_Total,Black or African American alone_Total,American Indian and Alaska Native alone_Total,Asian alone_Total,Native Hawaiian and Other Pacific Islander alone_Total,Some other race alone_tot,Two or more races_tot,Not_Hispanic_or_latino,Hispanic_or_latin_tot
0,Autauga County,Alabama,AL,42437,10565,159,568,32,409,1030,53672,1528
1,Baldwin County,Alabama,AL,179526,19764,1522,1680,9,2034,3572,198754,9353

In [61]:
#renaming
county_eth=county_eth.rename(columns={"B02001_007E": "Some other race alone_tot","B02001_008E": "Two or more races_tot","B03001_002E": "Not_Hispanic_or_latino","B03001_003E": "Hispanic_or_latin_tot"})

In [63]:
#Modifying column for joining data
county_eth["GEO_NAME"]=county_eth["GEO_NAME"]+', '+county_eth["STABREV"]

In [64]:
#subsetting the american indian population data
am_ind=county_eth[['GEO_NAME','American Indian and Alaska Native alone_Total']]

In [65]:
am_ind.head(1)

             GEO_NAME  American Indian and Alaska Native alone_Total
0  Autauga County, AL                                            159

In [66]:
#Joining county_population and race and ethnicity data
F_D=County_subset.join(am_ind.set_index('GEO_NAME'), on='GEO_NAME')

In [68]:
F_D.head(1)

,GEO_NAME,County_Population,American Indian and Alaska Native alone_Total
0,"Autauga County, AL",55200,159

In [69]:
#Calculating percentage of american indian in each county
F_D["percentage_AM"]=F_D['American Indian and Alaska Native alone_Total']/F_D['County_Population']*100

In [70]:
F_D.head(1)

,GEO_NAME,County_Population,American Indian and Alaska Native alone_Total,percentage_AM
0,"Autauga County, AL",55200,159,0.288043

Which county has the largest American Indian and Alaska Native population in terms of percentage of the total population?

In [71]:
#sorting the data to get the county with highest american indian population percentage
F_D.sort_values(by='percentage_AM', ascending=False).head(1)

,GEO_NAME,County_Population,American Indian and Alaska Native alone_Total,percentage_AM
2411,"Oglala Lakota County, SD",14335,13257,92.479944

In [72]:
County_subset.head(1)

             GEO_NAME  County_Population
0  Autauga County, AL              55200

In [79]:
county_eth.head(2)

,GEO_NAME,GEO_PARENT_NAME,STABREV,White alone_Total,Black or African American alone_Total,American Indian and Alaska Native alone_Total,Asian alone_Total,Native Hawaiian and Other Pacific Islander alone_Total,Some other race alone_tot,Two or more races_tot,Not_Hispanic_or_latino,Hispanic_or_latin_tot,non_white_total
0,"Autauga County, AL",Alabama,AL,42437,10565,159,568,32,409,1030,53672,1528,11324
1,"Baldwin County, AL",Alabama,AL,179526,19764,1522,1680,9,2034,3572,198754,9353,22975

In [77]:
#Calculating the number of non white people by eac county
county_eth["non_white_total"]=county_eth['Black or African American alone_Total']+county_eth['American Indian and Alaska Native alone_Total']+county_eth['Asian alone_Total']+county_eth['Native Hawaiian and Other Pacific Islander alone_Total']

In [80]:
#Subsetting the non white population data
county_nw=county_eth[['GEO_NAME','non_white_total']]

In [81]:
#Joining county_population data and race ethinicity data
df_nw_perc=County_subset.join(county_nw.set_index('GEO_NAME'), on='GEO_NAME')

In [83]:
df_nw_perc.head(2)

             GEO_NAME  County_Population  non_white_total
0  Autauga County, AL              55200            11324
1  Baldwin County, AL             208107            22975

In [84]:
#calculating percentage of non white population by county
df_nw_perc["perc_non_white"]=df_nw_perc['non_white_total']/df_nw_perc['County_Population']*100

In [86]:
#df_nw_perc.head()

Which county has the largest non-white percentage (i.e. Black, American Indian, Asian, Pacific Islanders)?

In [89]:
#sorting the data to the county with largest percentage of non white people
df_nw_perc.sort_values(by='perc_non_white', ascending=False).head(3)

,GEO_NAME,County_Population,non_white_total,perc_non_white
2411,"Oglala Lakota County, SD",14335,13269,92.563655
81,"Kusilvak Census Area, AK",8198,7574,92.388387
1410,"Claiborne County, MS",9120,8034,88.092105

Which county has the largest American Indian and Alaska Native population in terms of percentage of the total population?

In [59]:
#Joining county population and american indian population data
am_ind_prop=County_subset.join(am_ind.set_index('GEO_NAME'), on='GEO_NAME')

In [2]:
#reading race and eth by states data
RE_State=pd.read_csv("Race_and_Ethnicity_-_States.csv")

In [5]:
RE_State.head(2)

,OBJECTID,GEO_ID,GEO_NAME,FIPS_CODE,B02001_002E,B02001_002M,B02001_003E,B02001_003M,B02001_004E,B02001_004M,...,B02001_006E,B02001_006M,B02001_007E,B02001_007M,B02001_008E,B02001_008M,B03001_002E,B03001_002M,B03001_003E,B03001_003M
0,1,0400000US01,Alabama,1,3317453,3345,1293186,2745,25576,1335,...,2182,546,70055,3631,91619,3331,4661534,393.0,203146,393.0
1,2,0400000US02,Alaska,2,478834,1368,24129,834,106660,1515,...,8849,485,11027,1329,62461,1816,687330,121.0,51186,121.0

In [4]:
RE_State.columns

Index(['OBJECTID', 'GEO_ID', 'GEO_NAME', 'FIPS_CODE', 'B02001_002E',
       'B02001_002M', 'B02001_003E', 'B02001_003M', 'B02001_004E',
       'B02001_004M', 'B02001_005E', 'B02001_005M', 'B02001_006E',
       'B02001_006M', 'B02001_007E', 'B02001_007M', 'B02001_008E',
       'B02001_008M', 'B03001_002E', 'B03001_002M', 'B03001_003E',
       'B03001_003M'],
      dtype='object')

In [7]:
#Dropping columns which are not required
RE_State=RE_State.drop(['OBJECTID','GEO_ID','FIPS_CODE','B02001_002M','B02001_003M','B02001_004M','B02001_005M','B02001_006M','B02001_007M','B02001_008M','B03001_002M','B03001_003M'],axis=1)

In [10]:
#Renaming relevant columns
RE_State=RE_State.rename(columns={"B02001_002E": "White alone_Total", "B02001_003E": "Black or African American alone_Total","B02001_004E": "American Indian and Alaska Native alone_Total","B02001_005E": "Asian alone_Total","B02001_006E": "Native Hawaiian and Other Pacific Islander alone_Total"})

In [13]:
RE_State.head(2)

,GEO_NAME,White alone_Total,Black or African American alone_Total,American Indian and Alaska Native alone_Total,Asian alone_Total,Native Hawaiian and Other Pacific Islander alone_Total,Some other race alone_tot,Two or more races_tot,Not_Hispanic_or_latino,Hispanic_or_latin_tot
0,Alabama,3317453,1293186,25576,64609,2182,70055,91619,4661534,203146
1,Alaska,478834,24129,106660,46556,8849,11027,62461,687330,51186

In [12]:
RE_State=RE_State.rename(columns={"B02001_007E": "Some other race alone_tot","B02001_008E": "Two or more races_tot","B03001_002E": "Not_Hispanic_or_latino","B03001_003E": "Hispanic_or_latin_tot"})

In [16]:
RE_State.shape

(52, 10)

In [18]:
#Seperating black and african american population data
black_african=RE_State[['GEO_NAME','Black or African American alone_Total']]

In [19]:
black_african.columns

Index(['GEO_NAME', 'Black or African American alone_Total'], dtype='object')

Which state has the smallest Black or African American population in terms of percentage of the total population?

In [14]:
#Reading the state population data
state_pop=pd.read_csv("Population_-_State.csv")

In [20]:
state_pop.head(2)

  GEO_NAME  Total Population
0  Alabama           4864680
1   Alaska            738516

In [21]:
#joining the state population data and state ethinicity data
black_prop=black_african.join(state_pop.set_index('GEO_NAME'), on='GEO_NAME')

In [23]:
black_prop.head(2)

  GEO_NAME  Black or African American alone_Total  Total Population
0  Alabama                                1293186           4864680
1   Alaska                                  24129            738516

In [24]:
#Calculating the percentage of african american people by state
black_prop["percentage"]=black_prop['Black or African American alone_Total']/black_prop['Total Population']*100

In [25]:
black_prop.head(3)

,GEO_NAME,Black or African American alone_Total,Total Population,percentage
0,Alabama,1293186,4864680,26.583167
1,Alaska,24129,738516,3.267228
2,Arizona,305259,6946685,4.394312

In [27]:
#Sorting data to get state with higest percentage of african american population
black_prop.sort_values(by='percentage', ascending=False).head(1)

,GEO_NAME,Black or African American alone_Total,Total Population,percentage
8,District of Columbia,321317,684498,46.941993

Which counties are the most and least resilient?

In [90]:
#reading the resilience data
cre=pd.read_csv("cre-2018-a11.csv")

rfgrp-Risk factor grouping (0 risk factors, 1-2 risk factors, 3+ risk factors)
prednum-Estimated number of individuals living in a given tract
predrt-100*prednum divided by popuni
popuni-Population universe for each tract

In [93]:
cre.head(3)

,state,county,tract,rfgrp,prednum,prednum_moe,predrt,predrt_moe,stname,STABREV,ctname,popuni
0,1,1,0,0RF,17545,4022.9,31.66,7.26,Alabama,AL,"Autauga County, AL",55420
1,1,1,0,1-2RF,24796,4320.5,44.74,7.80,Alabama,AL,"Autauga County, AL",55420
2,1,1,0,3PLRF,13079,3606.6,23.60,6.51,Alabama,AL,"Autauga County, AL",55420

In [94]:
17545+24796+13079

55420

In [95]:
31.66+44.74+23.60

100.0

In [96]:
#Subsetting 0 risk factor data
cre_zero_risk=cre.loc[(cre.tract==0)&(cre.rfgrp=='0RF'),['ctname','predrt']]

In [98]:
cre_zero_risk.head(1)

               ctname  predrt
0  Autauga County, AL   31.66

In [99]:
#Most Resilient
cre_zero_risk.sort_values(by='predrt', ascending=False).head(1)

                   ctname  predrt
110943  Carver County, MN   49.94

In [100]:
#Subsetting 3 plus risk factor data
threeplus_risk=cre.loc[(cre.tract==0)&(cre.rfgrp=='3PLRF'),['ctname','predrt']]

In [102]:
threeplus_risk.head(1)

               ctname  predrt
2  Autauga County, AL    23.6

In [103]:
#Least Resilient
threeplus_risk.sort_values(by='predrt', ascending=False).head(1)

                  ctname  predrt
55646  Sumter County, FL   48.45

Creating file for deliverable 3

In [104]:
threeplus_risk.shape

(3142, 2)

In [109]:
threeplus_risk.head(2)

              GEO_NAME  predrt
2   Autauga County, AL   23.60
41  Baldwin County, AL   24.72

In [105]:
df_nw_perc.shape

(3220, 4)

In [108]:
#renaming column to join
threeplus_risk=threeplus_risk.rename(columns={"ctname": "GEO_NAME"})

In [107]:
df_nw_perc.head(2)

             GEO_NAME  County_Population  non_white_total  perc_non_white
0  Autauga County, AL              55200            11324       20.514493
1  Baldwin County, AL             208107            22975       11.039994

In [110]:
#Joining the two data frames
nw_threeplus_prdrt=df_nw_perc.join(threeplus_risk.set_index('GEO_NAME'), on='GEO_NAME')

In [112]:
nw_threeplus_prdrt.head(2)

,GEO_NAME,County_Population,non_white_total,perc_non_white,predrt
0,"Autauga County, AL",55200,11324,20.514493,23.60
1,"Baldwin County, AL",208107,22975,11.039994,24.72

In [113]:
nw_threeplus_prdrt.to_csv("Deliverble3_Input.csv")