# Deliverable 1

# Data Wrangling

In [2]:
#Importing the neccessary packages
import pandas as pd
import numpy as np

In [3]:
#Reading the Race and Ethnicity file
Race_Eth=pd.read_csv("Race_and_Ethnicity_-_County.csv")

In [4]:
#Finding out the number of rows and columns in the dataset
Race_Eth.shape

(3220, 24)

In [5]:
#Variables in the dataset
Race_Eth.columns

Index(['OBJECTID', 'GEO_ID', 'GEO_NAME', 'GEO_PARENT_NAME', 'STABREV',
       'FIPS_CODE', 'B02001_002E', 'B02001_002M', 'B02001_003E', 'B02001_003M',
       'B02001_004E', 'B02001_004M', 'B02001_005E', 'B02001_005M',
       'B02001_006E', 'B02001_006M', 'B02001_007E', 'B02001_007M',
       'B02001_008E', 'B02001_008M', 'B03001_002E', 'B03001_002M',
       'B03001_003E', 'B03001_003M'],
      dtype='object')

In [6]:
#Renaming Columns
Race_Eth=Race_Eth.rename(columns={"B02001_002E": "White alone_Total", "B02001_003E": "Black or African American alone_Total","B02001_004E": "American Indian and Alaska Native alone_Total","B02001_005E": "Asian alone_Total","B02001_006E": "Native Hawaiian and Other Pacific Islander alone_Total"})

In [7]:
#Checking for null values in the Data
#Race_Eth.isnull().sum()
#len(Race_Eth.GEO_NAME.unique())

In [8]:
#Race_Eth.columns

In [9]:
#Removing Unwanted Columns
Race_Eth=Race_Eth.drop(['OBJECTID','B02001_002M','B02001_003M','B02001_004M','B02001_005M','B02001_006M','B02001_007E','B02001_007M','B02001_008E','B02001_008M','B03001_002E','B03001_002M','B03001_003E','B03001_003M'], axis=1)

In [10]:
#Checking the Data
Race_Eth.shape

(3220, 10)

In [11]:
#Race_Eth.head()

In [12]:
#Removing values of the state puerto Rico
Race_Without_Puerto_Rico=Race_Eth.loc[Race_Eth.GEO_PARENT_NAME!='Puerto Rico',]

In [13]:
#Race_Without_Puerto_Rico.isnull().sum()

In [14]:
#sum(Race_Without_Puerto_Rico.duplicated())

In [15]:
Race_Without_Puerto_Rico.head()

,GEO_ID,GEO_NAME,GEO_PARENT_NAME,STABREV,FIPS_CODE,White alone_Total,Black or African American alone_Total,American Indian and Alaska Native alone_Total,Asian alone_Total,Native Hawaiian and Other Pacific Islander alone_Total
0,0500000US01001,Autauga County,Alabama,AL,1001,42437,10565,159,568,32
1,0500000US01003,Baldwin County,Alabama,AL,1003,179526,19764,1522,1680,9
2,0500000US01005,Barbour County,Alabama,AL,1005,12216,12266,72,96,1
3,0500000US01007,Bibb County,Alabama,AL,1007,17268,5018,8,37,0
4,0500000US01009,Blount County,Alabama,AL,1009,55054,862,141,198,18

In [16]:
#Adding a new column for joining with the other table
Race_Without_Puerto_Rico["ctname"]=Race_Without_Puerto_Rico["GEO_NAME"]+', '+Race_Without_Puerto_Rico["STABREV"]

<ipython-input-16-de61f9776d28>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Race_Without_Puerto_Rico["ctname"]=Race_Without_Puerto_Rico["GEO_NAME"]+', '+Race_Without_Puerto_Rico["STABREV"]

In [17]:
Race_Without_Puerto_Rico.head(5)

,GEO_ID,GEO_NAME,GEO_PARENT_NAME,STABREV,FIPS_CODE,White alone_Total,Black or African American alone_Total,American Indian and Alaska Native alone_Total,Asian alone_Total,Native Hawaiian and Other Pacific Islander alone_Total,ctname
0,0500000US01001,Autauga County,Alabama,AL,1001,42437,10565,159,568,32,"Autauga County, AL"
1,0500000US01003,Baldwin County,Alabama,AL,1003,179526,19764,1522,1680,9,"Baldwin County, AL"
2,0500000US01005,Barbour County,Alabama,AL,1005,12216,12266,72,96,1,"Barbour County, AL"
3,0500000US01007,Bibb County,Alabama,AL,1007,17268,5018,8,37,0,"Bibb County, AL"
4,0500000US01009,Blount County,Alabama,AL,1009,55054,862,141,198,18,"Blount County, AL"

In [18]:
#dropping column GEO_ID
Race_Without_Puerto_Rico=Race_Without_Puerto_Rico.drop(['GEO_ID'],axis=1)

In [19]:
Race_Without_Puerto_Rico.head()

,GEO_NAME,GEO_PARENT_NAME,STABREV,FIPS_CODE,White alone_Total,Black or African American alone_Total,American Indian and Alaska Native alone_Total,Asian alone_Total,Native Hawaiian and Other Pacific Islander alone_Total,ctname
0,Autauga County,Alabama,AL,1001,42437,10565,159,568,32,"Autauga County, AL"
1,Baldwin County,Alabama,AL,1003,179526,19764,1522,1680,9,"Baldwin County, AL"
2,Barbour County,Alabama,AL,1005,12216,12266,72,96,1,"Barbour County, AL"
3,Bibb County,Alabama,AL,1007,17268,5018,8,37,0,"Bibb County, AL"
4,Blount County,Alabama,AL,1009,55054,862,141,198,18,"Blount County, AL"

In [20]:
Race_Without_Puerto_Rico.to_csv("race_with_PR.csv")

In [21]:
#Reading the Community Resilience DataSet
Comm_Resil=pd.read_csv("cre-2018-a11.csv")

In [22]:
#Finding out the number of rows and columns in the dataset
Comm_Resil.shape

(228594, 12)

In [23]:
#Checking for null values in the Data
Comm_Resil.isnull().sum()

state          0
county         0
tract          0
rfgrp          0
prednum        0
prednum_moe    0
predrt         0
predrt_moe     0
stname         0
STABREV        0
ctname         0
popuni         0
dtype: int64

In [24]:
#Variables in the dataset
Comm_Resil.columns

Index(['state', 'county', 'tract', 'rfgrp', 'prednum', 'prednum_moe', 'predrt',
       'predrt_moe', 'stname', 'STABREV', 'ctname', 'popuni'],
      dtype='object')

In [25]:
Comm_Resil.head(5)

,state,county,tract,rfgrp,prednum,prednum_moe,predrt,predrt_moe,stname,STABREV,ctname,popuni
0,1,1,0,0RF,17545,4022.9,31.66,7.26,Alabama,AL,"Autauga County, AL",55420
1,1,1,0,1-2RF,24796,4320.5,44.74,7.80,Alabama,AL,"Autauga County, AL",55420
2,1,1,0,3PLRF,13079,3606.6,23.60,6.51,Alabama,AL,"Autauga County, AL",55420
3,1,1,20100,0RF,495,170.7,25.77,8.89,Alabama,AL,"Autauga County, AL",1921
4,1,1,20100,1-2RF,902,188.6,46.95,9.82,Alabama,AL,"Autauga County, AL",1921

In [26]:
len(Comm_Resil.ctname.unique())

3142

In [27]:
#Subsetting Data for O risk factors
Zero_RF=Comm_Resil.loc[(Comm_Resil.tract==0)&(Comm_Resil.rfgrp=='0RF'),['ctname','predrt']]

In [28]:
#Zero_RF.to_csv("Zero_RF.csv")

In [29]:
Zero_RF.shape

(3142, 2)

In [30]:
df1=pd.DataFrame(data=Zero_RF)

In [31]:
df1.columns

Index(['ctname', 'predrt'], dtype='object')

In [32]:
df1.head()

                 ctname  predrt
0    Autauga County, AL   31.66
39   Baldwin County, AL   29.84
138  Barbour County, AL   18.70
168     Bibb County, AL   24.58
183   Blount County, AL   28.96

In [33]:
#Subsetting the Data for 1-2 Risk factors
one_two_RF=Comm_Resil.loc[(Comm_Resil.tract==0)&(Comm_Resil.rfgrp=='1-2RF'),['ctname','predrt']]

In [34]:
one_two_RF.shape

(3142, 2)

In [35]:
#renaming the column
one_two_RF=one_two_RF.rename(columns={"predrt": "Predrt_1_2"})

In [36]:
df2=pd.DataFrame(data=one_two_RF)

In [37]:
df2.columns

Index(['ctname', 'Predrt_1_2'], dtype='object')

In [38]:
df2.head()

                 ctname  Predrt_1_2
1    Autauga County, AL       44.74
40   Baldwin County, AL       45.44
139  Barbour County, AL       46.19
169     Bibb County, AL       46.77
184   Blount County, AL       43.45

In [39]:
df1.shape

(3142, 2)

In [40]:
#one_two_RF.to_csv("One_two_RF.csv")

In [41]:
#subsetting the data for 3 plus risk factor group
three_plus_RF=Comm_Resil.loc[(Comm_Resil.tract==0)&(Comm_Resil.rfgrp=='3PLRF'),['ctname','predrt']]

In [42]:
three_plus_RF.shape

(3142, 2)

In [43]:
df3=pd.DataFrame(data=three_plus_RF)

In [44]:
df3.head()

                 ctname  predrt
2    Autauga County, AL   23.60
41   Baldwin County, AL   24.72
140  Barbour County, AL   35.11
170     Bibb County, AL   28.64
185   Blount County, AL   27.59

In [45]:
df3=df3.rename(columns={"predrt": "Predrt_1_2_3"})

In [46]:
#Joining the data for 0 risk factor and 1-2 risk factor
df_1_2=df1.join(df2.set_index('ctname'), on='ctname')

In [47]:
len(df_1_2.ctname.unique())

3142

In [48]:
#Joining data for all risk factors
df_1_2_3=df_1_2.join(df3.set_index('ctname'), on='ctname')

In [49]:
df_1_2_3.head()

                 ctname  predrt  Predrt_1_2  Predrt_1_2_3
0    Autauga County, AL   31.66       44.74         23.60
39   Baldwin County, AL   29.84       45.44         24.72
138  Barbour County, AL   18.70       46.19         35.11
168     Bibb County, AL   24.58       46.77         28.64
183   Blount County, AL   28.96       43.45         27.59

Final Join on the Data

In [50]:
#Final Data frame with all specified columns
final_dataframe=df_1_2_3.join(Race_Without_Puerto_Rico.set_index('ctname'), on='ctname')

In [51]:
final_dataframe.columns

Index(['ctname', 'predrt', 'Predrt_1_2', 'Predrt_1_2_3', 'GEO_NAME',
       'GEO_PARENT_NAME', 'STABREV', 'FIPS_CODE', 'White alone_Total',
       'Black or African American alone_Total',
       'American Indian and Alaska Native alone_Total', 'Asian alone_Total',
       'Native Hawaiian and Other Pacific Islander alone_Total'],
      dtype='object')

In [52]:
final_dataframe.shape

(3142, 13)

In [53]:
final_dataframe=final_dataframe.drop(['STABREV'],axis=1)

In [54]:
#Writing the data with piped delimeters
final_dataframe.to_csv("Final.csv",sep='|')